* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;

    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;

    --brown-800: #854632;

    --white: #FFFFFF;
}

body, html {
    width: 100dvw;
    height: 100dvh;
    max-width: 100%;
    background-color: var(--stone-100);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--stone-600);  
}

h1 {
    font-family: "Young serif", sans-serif;
    font-size: 2.5rem;
    color: var(--stone-900);
}

h2 {
    font-family: "Young serif", sans-serif;
    font-size: 1.8rem;
    color: var(--brown-800);
}

h3 {
    font-family: "Young serif", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--rose-800);
}

ul {
    width: 100%;
    list-style: none;
    list-style-position: inside;
    
    li {
        line-height: 2rem;
        position: relative;
        margin-left: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    & span {
        margin-right: .3rem;
    }

    & li::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin-right: 2rem;
    }

    .brown::before {
        background-color: var(--brown-800);
    }

    .purple::before {
        background-color: var(--rose-800);
    }
}

.brown-bold {
    font-weight: 800;
    color: var(--brown-800);
}

.stone-bold {
    font-weight: 800;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: min(2rem, 8%);
    overflow: auto;
}

.container {
    width: 736px;
    max-width: 100%;
    min-width: 375px;
    background-color: var(--white);
    padding: min(2.5rem, 5%);
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    
    .image {
        width: 100%;
        height: 300px;
        border-radius: .8em;
    }

    .list-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        align-items: inherit;
        gap: 1rem;
        border-radius: .8em;
    }

    .preparation {
        background-color: var(--rose-50);
        padding: 1.5rem;
    }
    
}
